<form>
    <fieldset>
        <legend>Legend</legend>
        <div class="form-group">
            <label for="exampleInputEmail">Text field label</label>
            <input type="text" class="form-control" placeholder="Text field placeholder">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword">Select</label>
            <select class="form-control">
                <option>Please choose...</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" class="form-control" id="exampleInputFile">
            <p class="help-block">Example block-level help text here.</p>
        </div>
        <div class="form-group">
            <label>Textarea label</label>
            <textarea class="form-control" placeholder="Textarea placeholder"></textarea>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox">
                Checkbox option one
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox">
                Checkbox option two with a really long label to make sure it wraps nicely. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, laudantium, nulla! Alias dolore ex omnis.
            </label>
        </div>

        <div class="radio">
            <label>
                <input type="radio" name="radio">
                Radio option 1
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="radio">
                Radio option 2
            </label>
        </div>
        <button type="button" class="btn btn-default pull-right">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>
<hr>
<form class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="exampleInputEmail3">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
    </div>
    <div class="form-group">
        <label class="sr-only" for="exampleInputPassword3">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Remember me
        </label>
    </div>
    <button type="submit" class="btn btn-default">Sign in</button>
</form>
<hr>
<form class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
            <div class="input-group-addon">.00</div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Transfer cash</button>
</form>
<hr>
<form>
    <div class="form-group has-success">
        <label class="control-label" for="inputSuccess2">Input with success</label>
        <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
    </div>
    <div class="form-group has-warning">
        <label class="control-label" for="inputWarning2">Input with warning</label>
        <input type="text" class="form-control" id="inputWarning2" aria-describedby="inputWarning2Status">
    </div>
    <div class="form-group has-error">
        <label class="control-label" for="inputError2">Input with error</label>
        <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status">
    </div>
    <div class="has-success">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="checkboxSuccess" value="option1">
                Checkbox with success
            </label>
        </div>
    </div>
    <div class="has-warning">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="checkboxWarning" value="option1">
                Checkbox with warning
            </label>
        </div>
    </div>
    <div class="has-error">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="checkboxError" value="option1">
                Checkbox with error
            </label>
        </div>
    </div>
</form>